@charset "utf-8";
/* MINDsLab. UX/UI Team */

/* Play */
@font-face {
    font-family:'Play';
    font-style:normal;
    font-weight:700;
    src:url(../font/Play-Bold.otf) format('opentype'),
    url(../font/Play-Bold.woff) format('woff'),
    url(../font/Play-Bold.woff2) format('woff2');
}

/* Roboto */
@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:100;
    src:url(../font/Roboto-Thin.otf) format('opentype'),
    url(../font/Roboto-Thin.woff) format('woff'),
    url(../font/Roboto-Thin.woff2) format('woff2');
}

@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:300;
    src:url(../font/Roboto-Light.otf) format('opentype'),
    url(../font/Roboto-Light.woff) format('woff'),
    url(../font/Roboto-Light.woff2) format('woff2');
}

@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:400;
    src:url(../font/Roboto-Regular.otf) format('opentype'),
    url(../font/Roboto-Regular.woff) format('woff'),
    url(../font/Roboto-Regular.woff2) format('woff2');
}

@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:500;
    src:url(../font/Roboto-Medium.otf) format('opentype'),
    url(../font/Roboto-Medium.woff) format('woff'),
    url(../font/Roboto-Medium.woff2) format('woff2');
}

@font-face {
    font-family:'Roboto';
    font-style:normal;
    font-weight:700;
    src:url(../font/Roboto-Bold.otf) format('opentype'),
    url(../font/Roboto-Bold.woff) format('woff'),
    url(../font/Roboto-Bold.woff2) format('woff2');
}

/* Noto Sans */
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:100;
    src:local('Noto Sans KR Thin'), local('NotoSansKR-Thin'), 
    url(../font/NotoSansKR-Thin.woff) format('woff'),
    url(../font/NotoSansKR-Thin.woff2) format('woff2');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:200;
    src:local('Noto Sans KR Light'), local('NotoSansKR-Light'), 
    url(../font/NotoSansKR-Light.woff) format('woff'),
    url(../font/NotoSansKR-Light.woff2) format('woff2');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:300;
    src:local('Noto Sans KR DemiLight'), local('NotoSansKR-DemiLight'), 
    url(../font/NotoSansKR-DemiLight.woff) format('woff'),
    url(../font/NotoSansKR-DemiLight.woff2) format('woff2');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:400;
    src:local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), 
    url(../font/NotoSansKR-Regular.woff) format('woff'),
    url(../font/NotoSansKR-Regular.woff2) format('woff2');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:500;
    src:local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
    url(../font/NotoSansKR-Medium.woff) format('woff'),
    url(../font/NotoSansKR-Medium.woff2) format('woff2');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:700;
    src:local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), 
    url(../font/NotoSansKR-Bold.woff) format('woff'),
    url(../font/NotoSansKR-Bold.woff2) format('woff2');
}
@font-face {
    font-family:'Noto Sans KR';
    font-style:normal;
    font-weight:900;
    src:local('Noto Sans KR Black'), local('NotoSansKR-Black'), 
    url(../font/NotoSansKR-Black.woff) format('woff'),
    url(../font/NotoSansKR-Black.woff2) format('woff2');
}

/* NanumBarunGothic */
@font-face {
    font-family:'Nanum Barun Gothic';
    font-style:normal;
    font-weight:700;
    src:local('Nanum Barun Gothic Bold'), local('NanumBarunGothicBold'), 
    url(../font/NanumBarunGothicBold.woff) format('woff'),
    url(../font/NanumBarunGothicBold.woff2) format('woff2');
}


