@charset "UTF-8";
/* MINDsLab. NBR. 20220624 */

/* ---------------------------------------- main page content ---------------------------------------- */
/* stn_menu */
#stn_menu {position:absolute; top:50%; left:5vw; font-family:'Roboto', sans-serif; transform:translateY(-50%); z-index:50;}
#stn_menu li:not(:first-child) {margin-top:11px;}
#stn_menu li a {display:inline-block; position:relative; padding-left:20px; color:rgba(255, 255, 255, 0.7); font-size:16px; font-weight:500; text-transform:uppercase; transition:all 0.3s ease-out;}
#stn_menu li a:before {content:''; display:block; position:absolute; top:50%; left:0; width:3px; height:3px; border-radius:1.5px; background:#1db6cc; transition:height 0.3s ease-out; transform:translateY(-50%); opacity:0.5;}
#stn_menu li.active a {height:40px; color:#fff; font-size:20px; font-weight:700; line-height:40px;}
#stn_menu li.active a:before {height:40px; opacity:1;}

/* section */
.section {box-sizing:border-box; background-size:cover; text-align:center;}
.content {display:inline-block; position:relative; width:100%; padding-left:20.5%; box-sizing:border-box; text-align:left; z-index:10;}

/* titArea */
.titArea .main_tit {font-family:'Roboto', sans-serif; color:#fff; font-size:75px; font-weight:900; letter-spacing:46px; line-height:1; text-transform:uppercase;}
.titArea .sub_tit {margin:16px 0 53px; font-family:'Roboto', sans-serif; color:#fff; font-size:18px; font-weight:100; letter-spacing:14.26px; line-height:1; text-transform:uppercase;}

/* descArea */
.descArea .svc_name {color:#e4eef7; font-size:32px; font-weight:500; letter-spacing:-0.43px; line-height:1; word-break:keep-all;}
.descArea .svc_desc {margin:16px 0 32px; color:#e4eef7; font-size:32px; font-weight:100; letter-spacing:-0.43px; line-height:1.5; word-break:keep-all;}

/* figure_wrap */
.figure_wrap .figure_list {display:flex; flex-wrap:wrap;}
.figure_wrap .figure_list li .item {display:flex; flex-direction:column; justify-content:center; position:relative; width:100%; height:97px; padding:20px 25px; border-radius:6.5px; box-sizing:border-box; background:rgba(0, 0, 0, 0.45); text-align:center;}
.figure_wrap .figure_list li .item dt {color:#fff; font-size:16px; font-weight:500; letter-spacing:-0.3px; line-height:1;}
.figure_wrap .figure_list li .item dd {margin:15px 0 0;}
.figure_wrap .figure_list li .item dd span {display:inline-block; color:#fff; font-size:14px; font-weight:500; letter-spacing:-0.25px; line-height:1.3;}
.figure_wrap .figure_list li .item dd .figure {margin:0 3px 0 4px; font-family:'Roboto', 'Noto Sans KR', sans-serif; font-size:30px; font-weight:900; letter-spacing:-0.54px; line-height:1;}
.figure_wrap + .btnBox {margin:30px 0 0;}
.figure_wrap + .btnBox .btn_link {display:inline-block; width:150px; height:56px; margin:0; border:none; border-radius:4px; box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.15); background-color:rgba(51, 59, 96, 0.8); color:#fff; font-size:18px; font-weight:500; text-align:center; line-height:56px;}
.figure_wrap + .btnBox .btn_link + .btn_link {margin-left:12px;}

/* stn - aiHaaS */
#aiHaaS {padding:0;background:url("../images/main/bg_stn_aiHaaS.png") 50% 50% no-repeat; background-size:cover;}
#aiHaaS .fp-tableCell {vertical-align:bottom;}
.fp-viewing-stn_aiHaaS #stn_menu li span, .fp-viewing-stn_aiHaaS {color:#002B49;}
#aiHaaS .frame-box {aspect-ratio:3 / 4; overflow:hidden; position:absolute; top:0; left:50%; width:auto; height:100%; transform:translatex(-50%);} /* 660 : 880 = 3 : 4 */
#aiHaaS iframe {overflow:hidden; position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:100%; border:0; outline:0;}
@media screen and (max-width:768px) {
    #aiHaaS .frame-box {width:100%; height:100vh;}
}
@media screen and (max-height:880px) {
    #aiHaaS .fp-tableCell {vertical-align:top;}
    #aiHaaS .frame-box {max-height:inherit; min-height:600px; height:inherit;}
}

/* stn - aiHuman */
#aiHuman {overflow:hidden; background:url('../images/main/bg_stn_aiHuman.png') 50% 50% no-repeat;}
#aiHuman .fp-tableCell {padding:11.5vh 0; box-sizing:border-box; vertical-align:top;}
#aiHuman .descArea .svc_desc {margin:16px 0 40px;}
#aiHuman .svc_use_case {max-width:540px; margin:0;}
#aiHuman .svc_use_case .svc_list li {width:160px; height:210px;}
#aiHuman .svc_use_case .svc_list li a {display:block; width:100%; height:100%; padding:88px 0 0; border-radius:4px; background-color:rgba(0, 0, 0, 0.2); box-sizing:border-box; transition:background-color 0.2s ease-out; background-position:50% 20px; background-repeat:no-repeat; text-align:center;}
#aiHuman .svc_use_case .svc_list li a small {display:inline-block; color:#fff; font-size:15px; font-weight:500; letter-spacing:-0.38px; line-height:1;}
#aiHuman .svc_use_case .svc_list li a .tit {margin:4px 0 12px; color:#fff; font-size:22px; font-weight:500; letter-spacing:-0.55px; line-height:1;}
#aiHuman .svc_use_case .svc_list li a .desc {color:rgba(255, 255, 255, 0.8); font-size:14px; letter-spacing:-0.35px; line-height:1.43;}
#aiHuman .svc_use_case .svc_list li:nth-child(1) a {background-image:url('../images/main/ico_step_aiHuman.svg');}
#aiHuman .svc_use_case .svc_list li:nth-child(2) a {background-image:url('../images/main/ico_step_store.svg');}
#aiHuman .svc_use_case .svc_list li:nth-child(3) a {background-image:url('../images/main/ico_step_aiKiosk.svg');}
#aiHuman .svc_use_case .svc_list li.active a,
#aiHuman .svc_use_case .svc_list li.active a:hover {background-color:rgba(91, 106, 226, 0.9);}
#aiHuman .svcBox {position:absolute; top:270px; left:24.5vw; width:1082px; height:75vh; background:url('../images/main/img_aiHuman_place.png') 50% 50% no-repeat; background-size:contain; z-index:50;}
#aiHuman .svcBox .svc_nav {position:relative; width:100%; height:100%;}
#aiHuman .svcBox .svc_nav li {position:relative;}
#aiHuman .svcBox .svc_nav li a {display:block; width:100%; height:100%;}
#aiHuman .svcBox .svc_nav li a span {display:block; position:absolute; padding-left:50px; color:#fff; font-size:18px; letter-spacing:-0.18px; line-height:40px; white-space:nowrap; transition:padding 0.2s ease-out;}
#aiHuman .svcBox .svc_nav li a span:before {content:''; display:block; position:absolute; top:0; left:0; width:40px; height:40px; background-position:50% 50%; background-repeat:no-repeat; background-size:contain;}
#aiHuman .svcBox .svc_nav li a span:after {content:''; display:block; position:absolute;}
#aiHuman .svcBox .svc_nav li a:hover span {padding-left:56px;}
#aiHuman .svcBox .svc_nav li:nth-child(1) {top:16%; left:54%; width:37%; height:35.6%;}
#aiHuman .svcBox .svc_nav li:nth-child(2) {top:-26%; left:25%; width:24%; height:23.5%;}
#aiHuman .svcBox .svc_nav li:nth-child(3) {bottom:90px; left:200px; width:37%; height:35.6%;}
#aiHuman .svcBox .svc_nav li:nth-child(4) {top:-72%; left:3%; width:24%; height:23.5%;}
#aiHuman .svcBox .svc_nav li:nth-child(1) a span {bottom:-37%; left:41.5%;}
#aiHuman .svcBox .svc_nav li:nth-child(2) a span {top:-23%; left:89%;}
#aiHuman .svcBox .svc_nav li:nth-child(3) a span {bottom:-20%; left:-68px;}
#aiHuman .svcBox .svc_nav li:nth-child(4) a span {bottom:-44px; left:-31%;}
#aiHuman .svcBox .svc_nav li:nth-child(1) a span:before {background-image:url('../images/main/ico_aiHuman_svc01.svg');}
#aiHuman .svcBox .svc_nav li:nth-child(2) a span:before {background-image:url('../images/main/ico_aiHuman_svc02.svg');}
#aiHuman .svcBox .svc_nav li:nth-child(3) a span:before {background-image:url('../images/main/ico_aiHuman_svc03.svg');}
#aiHuman .svcBox .svc_nav li:nth-child(4) a span:before {background-image:url('../images/main/ico_aiHuman_svc04.svg');}
#aiHuman .svcBox .svc_nav li:nth-child(1) a span:after {top:-40px; left:20px; height:42px; border-left:1px solid #fff;}
#aiHuman .svcBox .svc_nav li:nth-child(2) a span:after {bottom:-40px; left:20px; height:42px; border-left:1px solid #fff;}
#aiHuman .svcBox .svc_nav li:nth-child(3) a span:after {top:-22px; left:20px; width:176px; height:22px; border-top:1px solid #fff; border-left:1px solid #fff;}
#aiHuman .svcBox .svc_nav li:nth-child(4) a span:after {top:-22px; left:20px; width:198px; height:22px; border-top:1px solid #fff; border-left:1px solid #fff;}

#aiHuman .svcBox .svc_nav li:nth-child(1) a span br {display:none;}

/* stn - AICC */
#AICC {background:url('../images/main/bg_stn_AICC.png') 50% 50% no-repeat;}
#AICC .figure_wrap .figure_list li {width:auto !important;}
#AICC .figure_wrap .figure_list li .item {margin-right:12px; padding:20px 0;}
#AICC .figure_wrap .figure_list li:nth-child(-n+2) .item {float:left; width:236px;}
#AICC .figure_wrap .figure_list li:nth-child(3) {width:100% !important; margin:20px 0 0;}
#AICC .figure_wrap .figure_list li:nth-child(3) .item {width:486px; padding:20px 0 8px;}
#AICC .figure_wrap .figure_list li:nth-child(3) .item dd {margin:9px 0 0;}
#AICC .figure_wrap .figure_list li:nth-child(3) .item dd > div {display:inline-block; padding:0 20px;}
#AICC .figure_wrap .figure_list li:nth-child(3) .item dd > div img {display:inline-block; width:45px; margin:0 5px 0 0; vertical-align:bottom;}
#AICC .figure_wrap .figure_list li .item dd .figure {color:#9488ed;}
#AICC .figure_wrap + .btnBox .btn_link {background-color:rgba(125, 113, 209, 0.9);}

/* stn - smartX */
#smartX {background:url('../images/main/bg_stn_smartX.png') 50% 50% no-repeat;}
#smartX .figure_wrap .figure_list li {width:auto !important;}
#smartX .figure_wrap .figure_list li .item {margin-right:12px; padding:20px 0;}
#smartX .figure_wrap .figure_list li:nth-child(-n+3) .item {float:left; width:236px;}
#smartX .figure_wrap .figure_list li:nth-child(4) {width:100% !important; margin:20px 0 0;}
#smartX .figure_wrap .figure_list li:nth-child(4) .item {width:486px; padding:20px 0 8px;}
#smartX .figure_wrap .figure_list li:nth-child(4) .item dd {margin:9px 0 0;}
#smartX .figure_wrap .figure_list li .item dd span {text-align:left;}
#smartX .figure_wrap .figure_list li .item dd .figure {color:#2cace5;}
#smartX .figure_wrap + .btnBox .btn_link {background-color:rgba(44, 172, 229, 0.9);}

/* stn - minutes */
#minutes {background:url('../images/main/bg_stn_minutes.png') 50% 50% no-repeat;}
#minutes .figure_wrap .figure_list li .item {margin-right:13px; padding:20px 0;}
#minutes .figure_wrap .figure_list li:nth-child(1) {width:100% !important;}
#minutes .figure_wrap .figure_list li:nth-child(1) .item {float:left; width:236px;}
#minutes .figure_wrap .figure_list li:nth-child(2) {margin:20px 0 0;}
#minutes .figure_wrap .figure_list li:nth-child(2) .item {width:486px; padding:20px 0 8px;}
#minutes .figure_wrap .figure_list li .item dd .figure {color:#27b9ba;}
#minutes .figure_wrap + .btnBox .btn_link {background-color:rgba(39, 185, 186, 0.9);}

/* stn - cloudAPI */
#cloudAPI {background:url('../images/main/bg_stn_cloudAPI.png') 50% 50% no-repeat;}
#cloudAPI .figure_wrap .figure_list li {width:100% !important;}
#cloudAPI .figure_wrap .figure_list li .item {float:left; width:236px; margin-right:12px; padding:20px 0;}
#cloudAPI .figure_wrap .figure_list li .item dd .figure {color:#fb8f23;}
#cloudAPI .figure_wrap .figure_list li .item dd span {text-align:left;}
#cloudAPI .figure_wrap .figure_list li:nth-child(1) .item:nth-child(2) dd span:nth-child(4) {font-size:10px;}
#cloudAPI .figure_wrap .figure_list li:nth-child(2) {margin:20px 0 0;}
#cloudAPI .figure_wrap + .btnBox .btn_link {background-color:rgba(251, 143, 35, 0.9);}

/* stn - maumDATA */
#maumDATA {background:url('../images/main/bg_stn_maumDATA.png') 50% 50% no-repeat;}
#maumDATA .figure_wrap .figure_list li .item {margin-right:13px; padding:20px 0;}
#maumDATA .figure_wrap .figure_list li:nth-child(1) {width:100% !important;}
#maumDATA .figure_wrap .figure_list li:nth-child(1) .item {float:left; width:236px;}
#maumDATA .figure_wrap .figure_list li:nth-child(2) {margin:20px 0 0;}
#maumDATA .figure_wrap .figure_list li:nth-child(2) .item {width:486px; padding:20px 0 8px;}
#maumDATA .figure_wrap .figure_list li .item dd .figure {color:#506df5;}
#maumDATA .figure_wrap + .btnBox .btn_link {background-color:rgba(80, 109, 245, 0.9);}

/* stn - contact */
#contact {background:url('../images/main/bg_stn_contact.png') 50% 50% no-repeat;}
#contact .inquiry_box {overflow:hidden; display:inline-block; width:852px; text-align:left; vertical-align:top;}
#contact .inquiry_box .inner {float:left; width:625px;}
#contact .inquiry_box .dual {overflow:hidden;}
#contact .inquiry_box .dual .my_info {width:calc(50% - 15px);}
#contact .inquiry_box .dual .my_info:first-child {float:left;}
#contact .inquiry_box .dual .my_info:last-child {float:right;}
#contact .inquiry_box .my_info {overflow:hidden; margin-bottom:10px;}
#contact .inquiry_box .my_info label {display:block; float:left; width:50px; color:#fff; font-size:14px; font-weight:500; line-height:20px; line-height:40px;}
#contact .inquiry_box .my_info input[type="text"],
#contact .inquiry_box .my_info input[type="tel"],
#contact .inquiry_box .my_info input[type="email"],
#contact .inquiry_box .my_info textarea {float:left; width:calc(100% - 50px); padding:0 10px; border-radius:5px; box-sizing:border-box; background-color:rgba(255,255,255,0.9); color:#333b60; font-size:14px; font-weight:500; line-height:20px;}
#contact .inquiry_box .my_info input {height:40px;}
#contact .inquiry_box .my_info textarea {height:96px; padding:12px 10px;}
#contact .inquiry_box .my_info input::placeholder,
#contact .inquiry_box .my_info textarea::placeholder {color:rgba(51,59,96,0.5); font-size:14px;}
#contact .submit_agree {margin:2px 0 20px 0; line-height:0;}
#contact .submit_agree input[type="checkbox"] + label {display:block; position:relative; padding-left:78px; color:#fff; font-size:13px; line-height:18px; cursor:pointer; user-select:none;}
#contact .submit_agree input[type="checkbox"] + label:before {content:''; display:block; position:absolute; top:0; left:50px; width:18px; height:18px; border-radius:2px; background:rgba(255,255,255,0.9);}
#contact .submit_agree input[type="checkbox"]:checked + label:after {content:''; display:block; position:absolute; top:0; left:50px; width:18px; height:18px; background:url('../images/main/ico_check.svg') 0 0 no-repeat; background-size:cover;}
#contact .submit_agree .agree_contents {margin-top:6px; padding-left:78px; color:#fff; font-size:11px; line-height:15px; word-break:keep-all;}
#contact .btn_box {text-align:center;}
#contact .btn_box .btn_primary.large {display:inline-block; width:150px; height:56px; margin:0 auto; border-radius:4px; background:#1db6cc; color:#fff; font-size:18px; font-weight:500;}
#contact .contact_info_list {float:right; width:200px; margin:0; padding:8px 16px 16px; border-radius:4px; box-sizing:border-box; background-color:rgba(31, 46, 59, 0.3);}
#contact .contact_info_list li {display:table;}
#contact .contact_info_list li a {display:table;}
#contact .contact_info_list li img {display:table-cell; margin-right:10px; padding:12px 0; vertical-align:middle;}
#contact .contact_info_list li span {display:table-cell; padding:12px 0; color:#fff; font-size:14px; font-weight:500; line-height:20px; word-break:keep-all; vertical-align:middle;}
#contact .contact_info_list li:nth-child(3) img {margin-right:15px;}

/* swiper */
.swiper-pagination-bullet {width:10px !important; height:6px !important; border-radius:3px !important; background:rgba(255, 255, 255, 0.5) !important; vertical-align:top;}
.swiper-pagination-bullet-active {width:20px !important; background:#fff !important;}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin:0 5px !important;}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {top:auto; bottom:0 !important; display:none; height:6px !important;}
.swiper-button-next,
.swiper-button-prev {display:none; width:40px !important; height:40px !important; margin-top:-32px !important;}
.swiper-button-next:after,
.swiper-button-prev:after {content:none !important;}
.swiper-button-prev {left:-3px !important; background:url('../images/main/ico_arw_left_w.svg') 50% 50% no-repeat !important;}
.swiper-button-next {right:-3px !important; background:url('../images/main/ico_arw_right_w.svg') 50% 50% no-repeat !important;}

/* media query */
@media screen and (max-width:1279px) {
    #aiHuman .svcBox .svc_nav li:nth-child(1) a span {bottom:-44%; padding-top:7px; line-height:25px; text-align:left;}
    #aiHuman .svcBox .svc_nav li:nth-child(1) a span br {display:block;}
}

@media screen and (max-width:768px) {
    /*
    10px - 0.6rem
    11px - 0.7rem
    12px - 0.75rem
    13px - 0.825rem
    14px - 0.875rem
    15px - 0.95rem
    16px - 1rem
    17px - 1.05rem
    20px - 1.25rem
    21px - 1.325rem
    22px - 1.375rem
    24px - 1.5rem
    30px - 1.875rem
    36px - 2.25rem
    */

    /* -------------------- layout -------------------- */
    #wrap {min-width:320px; width:auto;}
    #container {overflow:hidden;}
    .section {padding:30px 0;}
    .maumUI.visual_header .content {min-width:320px; width:100%; margin:0; padding:0 16px;}

    /* -------------------- common -------------------- */
    /* font size */
    html,body {font-size:1rem;}

    /* pc, mobile */
    .pc {display:none;}
    .mobile {display:block;}

    /* button */
    .btn_primary {font-size:1rem; border-radius:26px;}
    .btn_primary.small {font-size:0.75rem; border-radius:22px;}
    .btn_primary.large {font-size:1.25rem; border-radius:30px;}

    /* -------------------- main page content -------------------- */
    #header {position:fixed; min-width:auto; height:58px; border-bottom:1px solid #f5f5f5; background-color:#fff;}
    #header .contBox {padding:0 20px;}
    #header .contBox .logo {width:62px; height:24px; margin-top:17px; background-image:url("../images/common/logo_maumAi_clr.svg");} 
    #header .contBox .sta {height:58px;}
    #header .contBox .sta .gnb {display:none;}
    #header .contBox .sta .etc {display:none;}
    .content {padding:0 16px;}

    /* stn_menu */
    #stn_menu {display:none;}

    /* figure_wrap */
    .figure_wrap.swiper-container {padding:0 0 26px;}
    .figure_wrap .figure_list {flex-wrap:nowrap;}
    #container .figure_wrap .figure_list li {width:100% !important; margin-top:0 !important;}
    #container .figure_wrap .figure_list li .item {float:none !important; min-width:190px; width:calc(100% - 130px) !important; height:78px; margin:0 auto;}
    .figure_wrap .figure_list li .item + .item {margin:8px auto 0 !important;}
    .figure_wrap .figure_list li .item dt {font-size:12px; letter-spacing:-0.22px;}
    .figure_wrap .figure_list li .item dd span {font-size:12px; letter-spacing:-0.22px;}
    .figure_wrap .figure_list li .item dd .figure {font-size:24px; letter-spacing:-0.43px;}
    .figure_wrap + .btnBox {text-align:center;}
    .figure_wrap + .btnBox .btn_link {width:120px; height:45px; font-size:14px; line-height:45px;}

    /* stn - common */
    .titArea {margin:48px 0 0;}
    .titArea .main_tit {font-size:34px; letter-spacing:10px;}
    .titArea .sub_tit {margin:7px 0 29px; font-size:12px; letter-spacing:6px;}
    .descArea .svc_name {font-size:20px; font-weight:500; letter-spacing:-0.27px;}
    .descArea .svc_desc {margin:12px 0 45px; font-size:20px; letter-spacing:-0.9px; font-weight:lighter;}

    /* stn - aiHuman */
    #aiHuman .fp-tableCell {padding:0; vertical-align:middle;}
    #aiHuman .titArea {margin:0;}
    #aiHuman .titArea .sub_tit {margin:0 0 12px;}
    #aiHuman .descArea .svc_desc {margin:2px 0 60px;}
    #aiHuman .videoBox video {top:0; left:calc(50% - 388px); transform:translate(-50%, 0);}
    #aiHuman .svc_use_case {min-width:auto; max-width:100%; width:100%;}
    #aiHuman .svc_use_case .svc_list li {min-width:148px; width:100%; margin:0 auto;}
    #aiHuman .svc_use_case .svc_list li.active a:hover {background-color:rgba(0, 0, 0, 0.2);}
    #aiHuman .svc_use_case.swiper-container {padding:0 0 32px;}
    #aiHuman .svc_use_case .svc_list li.swiper-slide-active a,
    #aiHuman .svc_use_case .svc_list li.swiper-slide-active a:hover {background-color:#5b6ae2;}

    #aiHuman .svcBox {position:static; background:none; min-width:auto; width:100%; height:auto; padding:0 20px; box-sizing:border-box;}
    #aiHuman .svcBox .svc_nav li {position:static; width:100% !important; height:100% !important;}
    #aiHuman .svcBox .svc_nav li {border:1px solid #fff; border-radius:4px; box-sizing:border-box; background:rgba(255, 255, 255, 0.1);}
    #aiHuman .svcBox .svc_nav li + li {margin-top:20px;}
    #aiHuman .svcBox .svc_nav li a {display:flex; align-items:center; position:static; width:100% !important; min-height:50px; height:9vh !important; padding:0 20px; box-sizing:border-box;}
    #aiHuman .svcBox .svc_nav li a span {display:inline-block; position:relative; top:auto !important; bottom:auto !important; left:auto !important; font-size:16px; letter-spacing:-0.16px; line-height:30px !important;}
    #aiHuman .svcBox .svc_nav li a span:before {width:30px; height:30px;}
    #aiHuman .svcBox .svc_nav li a span:after {content:none;}

    #aiHuman .svcBox .svc_nav li:nth-child(1) a span {padding-top:0;}
    #aiHuman .svcBox .svc_nav li:nth-child(1) a span br {display:none;}

    /* stn - AICC */
    #AICC {background-position:57% 50%;}
    #AICC .figure_wrap .figure_list li:nth-child(-n+2) .item {float:none;}
    #AICC .figure_wrap .figure_list li:nth-child(3) .item {justify-content:space-around; height:167px;}
    #AICC .figure_wrap .figure_list li:nth-child(3) .item dd > div {display:block; width:140px; margin:0 auto; padding:0 25px; text-align:left;}
    #AICC .figure_wrap .figure_list li:nth-child(3) .item dd > div + div {margin:20px auto 10px;}
    #AICC .figure_wrap .figure_list li:nth-child(3) .item dd > div img {width:30px;}
    #AICC .figure_wrap .figure_list li:nth-child(3) .item dd > div .figure {display:inline-block; width:57px; text-align:right;}

    /* stn - smart X */
    #smartX .descArea .svc_name {font-size:18px; letter-spacing:-0.4px;}
    #smartX .figure_wrap .figure_list li:nth-child(2) .item:nth-child(2) {width:calc(100% - 130px) !important;}

    /* stn - maum minutes */
    #minutes {background-position:60% 50%;}

    /* stn - Cloud API */
    #cloudAPI {background-position:70% 50%;}

    /* stn - maum DATA */
    #maumDATA {background-position:58% 50%;}

    /* stn - contact */
    #contact {background-position:57% 50%;}
    #contact .titArea .main_tit {font-size:24px;}
    #contact .inquiry_box {width:100%;}
    #contact .inquiry_box .inner {float:none; width:100%;}
    #contact .inquiry_box .dual .my_info {float:none; width:100%;}
    #contact .inquiry_box .my_info label {padding-right:8px; box-sizing:border-box; text-align:right;}
    #contact .contact_info_list {float:none; width:100%; margin:30px 0 0; padding:8px 30px;}
    #contact .btn_box .btn_primary.large {width:120px; height:45px; font-size:14px;}

    /* swiper */
    .swiper-button-next,
    .swiper-button-prev,
    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {display:block;}
}

@media screen and (max-width:374px) {
    #aiHuman .descArea .svc_desc {margin-bottom:40px;}
}

@media screen and (max-width:359px) {
    #aiHuman .descArea .svc_desc {margin-bottom:30px;}
}


/* ---------------------------------------- price page content ---------------------------------------- */
/* 팝업 API */
.price_detail {display:none; overflow:hidden; position:fixed; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:3000;}
.price_detail .lyr_bg {position:absolute; top:0; left:0; width:100%; height:100%; background:#101113; opacity:0.4; z-index:-10;}
.price_detail .lyrBox {position:relative; display:block; width:500px; height:539px; letter-spacing:-0.5px; font-weight:500; border-radius:5px; box-shadow:0 2px 20px 0 rgba(0,43,73,0.2); border:1px solid #cfd5eb; background-color:#ffffff; -webkit-animation:lyr_show 0.3s 0s ease-out; animation:lyr_show 0.3s 0s ease-out;}
.price_detail .lyrBox .lyr_top {position:relative; display:block; text-align:center; padding:0;}
.price_detail .lyrBox .lyr_top h3 {float:none; font-size:15px; font-weight:500; line-height:42px; letter-spacing:-0.47px; color:#002b49;}
.price_detail .lyrBox .lyr_top em {position:absolute; top:12px; right:15px; color:#97a2bc; font-size:15px; cursor:pointer;}
.price_detail .lyrBox .lyr_mid {height:476px; overflow:auto; padding:0 10px 0 13px; box-sizing:border-box; margin:10px 7px;}
.price_detail .lyrBox .lyr_mid .tbl_view {width:100%;}
.price_detail .lyrBox .lyr_mid .tbl_view tr {border-bottom:1px solid #cfd5eb;}
.price_detail .lyrBox .lyr_mid .tbl_view th {text-align:left; font-size:13px; padding:0 16px; box-sizing:border-box; height:30px; font-weight:500; letter-spacing:-0.41px; color:#002b49;}
.price_detail .lyrBox .lyr_mid .tbl_view td {height:22px; padding:0 16px; box-sizing:border-box; font-size:13px; text-align:left; font-weight:400; letter-spacing:-0.41px; color:rgba(0,43,73,0.7);}
.price_detail .lyrBox .lyr_mid .tbl_view tbody th{font-size:14px;}
.price_detail .lyrBox .lyr_mid .tbl_view tbody tr {border-bottom:1px dotted #cfd5eb;}
.price_detail .lyrBox .lyr_mid .tbl_view tbody tr .col_1 {width:160px;}
.price_detail .lyrBox .lyr_mid .tbl_view tbody tr .col_2 {width:110px;}


/* ---------------------------------------- layout ---------------------------------------- */
#container.price {width:100%; background:#fff;}
#container.price .contBox {width:100%;}
.price .contents {width:100%;}
.price_cont {width:100%; height:100%;}
.price_cont .stn {padding:150px 0;}
.price_cont .stn > .cont {width:1240px; margin:0 auto; padding:0 20px; box-sizing:border-box;}


/* ---------------------------------------- contents ---------------------------------------- */
/* common */
.price_cont .text_hide {overflow:hidden; height:24px; font-size:0; line-height:0; text-indent:-999px;}
.price_cont .stn_tit {color:#303030; font-size:36px; font-weight:700; letter-spacing:-0.36px; line-height:38px; text-align:center;}
.price_cont .stn_desc {margin:24px 0 80px; color:#303030; font-size:20px; font-weight:500; letter-spacing:-0.2px; line-height:30px; text-align:center; word-break:keep-all;}
.price_cont .stn_desc a {border-bottom:1px solid #345ccd; color:#345ccd; font-weight:700;}

/* detail_desc */
.price_cont .price_cont .detail_desc {display:inline-block; position:relative; margin-left:5px; line-height:16px; cursor:pointer;}
.detail_desc:before {content:''; display:none; position:absolute; bottom:23px; left:-2px; width:20px; height:14px; background:url('../images/price/ico_tipPoint.svg') 50% 50% no-repeat; z-index:10;}
.price_cont .detail_desc img {vertical-align:middle;}
.price_cont .detail_desc .descBox {display:none; position:absolute; bottom:36px; left:-135px; width:300px; padding:20px; border:1px solid #dddddd; border-radius:4px; box-sizing:border-box; background:#fff; color:#303030; font-size:12px; letter-spacing:-0.12px; line-height:15px; white-space:normal; word-break:keep-all;}
.price_cont .detail_desc.show:before,
.price_cont .detail_desc.show .descBox {display:block;}

/* price */
.price_cont .ico-dot {display:inline-block; border-radius:50%; vertical-align:text-top;}
.price_cont .stn.price {background:#f4f4f4;}
.price_cont .stn.price .desc_list {margin:30px 0 50px;}
.price_cont .stn.price .desc_list li {position:relative; padding-left:20px; color:#777777; font-size:16px; letter-spacing:-0.16px; line-height:16px; word-break:keep-all;}
.price_cont .stn.price .desc_list li:before {content:''; display:block; position:absolute; top:11px; left:0; width:2px; height:2px; border-radius:50%; background:#909090;}
.price_cont .stn.price .desc_list li + li {margin-top:10px;}
.price_cont .stn.price .desc_list li a {border-bottom:1px solid #303030; color:#303030; font-weight:500;}
.price_cont .stn.price .desc_list li .ico-dot {width: 3px;height: 3px;margin-top: 11px;background: #777;}

.price_cont .maum_price_wrap > ul > li {width:582px; padding:40px; border:1px solid #f0f0f0; box-sizing:border-box; background:#fff; text-align:center;}
.price_cont .maum_price_wrap > ul > li dl dt {padding-bottom:20px; border-bottom:1px solid #eeeeee;}
.price_cont .maum_price_wrap > ul > li dl dt .ft_point .ico-dot {width: 6px;margin-top: 18px;height: 6px;background: #1FAAC1;}
.price_cont .maum_price_wrap > ul > li dl dt span {display:inline-block; padding:0 25px; border-radius:6px; font-size:28px; font-weight:700; letter-spacing:-0.56px; line-height:46px;}
.price_cont .maum_price_wrap > ul > li dl dd .contBox {box-sizing:border-box;}
.price_cont .maum_price_wrap > ul > li dl dd .contBox + .contBox {padding:40px 30px 0; border-top:1px solid #eeeeee;}
.price_cont .maum_price_wrap > ul > li dl dd .contBox .price {display:inline-block; position:relative; margin:30px 0; line-height:45px;}
.price_cont .maum_price_wrap > ul > li dl dd .contBox .price img:nth-child(1) {width:27px; margin-right:4px;}
.price_cont .maum_price_wrap > ul > li dl dd .contBox .price strong {font-size:30px; font-weight:700; letter-spacing:-0.3px;}
.price_cont .maum_price_wrap > ul > li dl dd .contBox .price img:nth-child(3) {position:absolute; right:-82px; bottom:5px;}
.price_cont .maum_price_wrap > ul > li dl dd .contBox .desc {color:#303030; font-size:18px; font-weight:700; letter-spacing:-0.18px; line-height:1.67; white-space:normal; word-break:keep-all;}
.price_cont .maum_price_wrap > ul > li dl dd .contBox .btn_link {display:inline-block; width:360px; margin:30px 0 40px; border-radius:3px; box-sizing:border-box; background:#fff; font-size:18px; font-weight:700; letter-spacing:-0.18px; line-height:52px; transition:background-color 0.2s ease-out;}
.price_cont .maum_price_wrap > ul > li dl dd .contBox .price img {vertical-align:middle; margin-bottom: 11px;}
.price_cont .maum_price_wrap > ul > li dl dd .contBox .tit {margin-bottom:20px; color:#303030; font-size:16px; font-weight:700; letter-spacing:-0.16px; line-height:1; text-align:left;}
.price_cont .maum_price_wrap > ul > li dl dd .contBox ul li {position:relative; padding-left:20px; color:#303030; font-size:16px; letter-spacing:-0.16px; line-height:18px; text-align:left;}
.price_cont .maum_price_wrap > ul > li dl dd .contBox ul li:before {content:''; display:block; position:absolute; top:7px; left:0; width:4px; height:4px; border-radius:50%; background:#050505;}
.price_cont .maum_price_wrap > ul > li dl dd .contBox ul li + li {margin-top:12px;}

.price_cont .maum_price_wrap > ul > li.business dl .ft_point {color:#1faac1;}
.price_cont .maum_price_wrap > ul > li.business dl dt span {background:#def3f7;}
.price_cont .maum_price_wrap > ul > li.business dl dd .contBox .price {color:#2c2c44; font-size:20px; letter-spacing:-0.2px;}
.price_cont .maum_price_wrap > ul > li.business dl dd .contBox .price strong span {font-size:24px; letter-spacing:-0.24px;}
.price_cont .maum_price_wrap > ul > li.business dl dd .contBox .desc .ft_point {color:#1faac1;}
.price_cont .maum_price_wrap > ul > li.business dl dd .contBox .btn_link {border:1px solid #1faac1;}
.price_cont .maum_price_wrap > ul > li.business dl dd .contBox .btn_link:hover {background:#1faac1; color:#fff;}
.price_cont .maum_price_wrap > ul > li.enterprise dl .ft_point {color:#0b3fa0;}
.price_cont .maum_price_wrap > ul > li.enterprise dl dt span {background:#c6daff;}
.price_cont .maum_price_wrap > ul > li.enterprise dl dd .contBox .btn_link {border:1px solid #0b3fa0;}
.price_cont .maum_price_wrap > ul > li.enterprise dl dd .contBox .btn_link:hover {background:#0b3fa0; color:#fff;}
.price_cont .maum_price_wrap > ul > li.enterprise dl dd .contBox ul li {font-weight:500;}
.price_cont .maum_price_wrap > ul > li.enterprise dl dd .contBox ul li p {margin-top:12px; color:#303030; font-size:16px; font-weight:400; letter-spacing:-0.16px; line-height:24px; text-align:left; white-space:normal; word-break:keep-all;}

.price_cont .minutes_price_wrap {overflow:hidden; padding:40px 70px; border:1px solid #f0f0f0; box-sizing:border-box; background:#fff;}
.price_cont .minutes_price_wrap .tit {color:#303030; font-size:18px; font-weight:700; letter-spacing:-0.18px; line-height:27px; text-align:center;}
.price_cont .minutes_price_wrap ul {display:flex; margin-top:24px;}
.price_cont .minutes_price_wrap ul li {flex:1;}
.price_cont .minutes_price_wrap ul li + li {margin-left:40px;}
.price_cont .minutes_price_wrap ul li .sub_tit {color:#303030; font-size:16px; font-weight:700; letter-spacing:-0.16px; line-height:16px;}
.price_cont .minutes_price_wrap ul li .sub_desc {margin:20px 0; color:#303030; font-size:16px; letter-spacing:-0.17px; line-height:27px; word-break:keep-all;}
.price_cont .minutes_price_wrap ul li .sub_desc span {font-weight:500;}
.price_cont .minutes_price_wrap .btn_link {display:block; float:right; border-bottom:1px solid #345ccd; color:#345ccd; font-size:16px; letter-spacing:-0.16px; line-height:24px;}

/* compare */
.price_cont .compareBox .rate_tit_mobile {display:none; margin-bottom:40px; text-align:center; white-space:nowrap;}
.price_cont .compareBox .rate_tit_mobile button {margin:0 15px; padding:0; color:#303030; font-size:16px; font-weight:700; letter-spacing:-0.16px; line-height:36px;}
.price_cont .compareBox .rate_tit_mobile button.active {border-bottom:3px solid #1faac1;}
.price_cont .compareBox {overflow:hidden;}
.price_cont .compareBox li {float:left; line-height:24px;}
.price_cont .compareBox li + li {margin-left:40px;}
.price_cont .compareBox li .cont_tit {border-top:1px solid #e0e0e0;}
.price_cont .compareBox .rate_tit {overflow:hidden; text-align:center;}
.price_cont .compareBox .rate_tit div {padding:32px 0;}
.price_cont .compareBox .rate_tit div:first-child {float:left; width:336px; padding-left:35px; text-align:left; box-sizing:border-box;}
.price_cont .compareBox .rate_tit div:last-child {float:right; width:412px; background:#f8f8f8; color:#303030; font-size:20px; font-weight:700; letter-spacing:-0.2px;}
.price_cont .compareBox .cont_tit {overflow:hidden;}
.price_cont .compareBox .cont_tit div {padding:18px 0;}
.price_cont .compareBox .cont_tit div:first-child {float:left; width:336px; padding-left:35px; box-sizing:border-box; background:#f4f4f4; color:#303030; font-size:16px; font-weight:700; letter-spacing:-0.16px; text-align:left;}
.price_cont .compareBox .cont_tit div:last-child {float:right; width:412px; background:#f4f4f4;}
.price_cont .compareBox .cont_dropdown > div > div {display:flex; align-items:center; transition:background-color 0.2s ease-out;}
.price_cont .compareBox .cont_dropdown > div > div:hover,
.price_cont .compareBox .cont_dropdown > div > div.hover {background:#f4f4f4 !important;}
.price_cont .compareBox .cont_dropdown > div div:first-child {width:336px; padding-left:35px; box-sizing:border-box; color:#414853; text-align:left; text-indent:12px;}
.price_cont .compareBox .cont_dropdown > div div:last-child {width:412px; background:#f4f6f8; text-align:center;}
.price_cont .compareBox .cont_dropdown .drop_tit {display:flex; transition:background-color 0.2s ease-out;}
.price_cont .compareBox .cont_dropdown .drop_tit:hover {background:#f4f4f4 !important;}
.price_cont .compareBox .cont_dropdown .drop_tit div:first-child {width:336px; height:54px; padding-left:35px; box-sizing:border-box; color:#303030; font-size:16px; letter-spacing:-0.16px; text-align:left; text-indent:0;}
.price_cont .compareBox .cont_dropdown .drop_tit div:first-child small {display:block; font-size:10px; letter-spacing:-0.1px; line-height:14px;}
.price_cont .compareBox .cont_dropdown .drop_tit div:last-child {justify-content:space-around; width:412px; height:54px; background:#f8f8f8;}
.price_cont .compareBox li .rate_tit div:first-child,
.price_cont .compareBox li .cont_tit div:first-child,
.price_cont .compareBox li .cont_dropdown > div div:first-child,
.price_cont .compareBox li .cont_dropdown .drop_tit div:first-child {display:none;}
.price_cont .compareBox li:first-child .rate_tit div:first-child,
.price_cont .compareBox li:first-child .cont_tit div:first-child,
.price_cont .compareBox li:first-child .cont_dropdown > div div:first-child,
.price_cont .compareBox li:first-child .cont_dropdown .drop_tit div:first-child {display:flex; flex-wrap:wrap; align-content:center}

/* faq */
.price_cont .stn.faq {background:#f8f8f8;}
.price_cont .stn.faq .faqBox {margin:50px 0 0;}
.price_cont .stn.faq .faqBox .faq_type {text-align:center;}
.price_cont .stn.faq .faqBox .faq_type a {display:inline-block; margin:0 50px; color:#303030; font-size:20px; font-weight:700; letter-spacing:-0.2px; line-height:40px;}
.price_cont .stn.faq .faqBox .faq_type a.active {border-bottom:4px solid #1faac1;}
.price_cont .stn.faq .faqBox .faq_cont .faq_lst {display:none; width:100%; margin:30px 0 0; border-top:2px solid #707070;}
.price_cont .stn.faq .faqBox .faq_cont .faq_lst.active {display:block;}
.price_cont .stn.faq .faqBox .faq_cont .faq_lst li dl {overflow:hidden; width:100%; height:auto; border-bottom:1px solid #dddddd; box-sizing:border-box; transition:all 0.1s ease-out;}
.price_cont .stn.faq .faqBox .faq_cont .faq_lst li dl dt {position:relative; width:100%; padding:35px 70px 35px 30px; box-sizing:border-box; background-image:url('../images/price/arw_btm_g.svg'); background-position:top 50% right 30px; background-repeat:no-repeat; color:#303030; font-size:20px; font-weight:700; letter-spacing:-0.2px; line-height:29px; text-align:left; word-break:keep-all; cursor:pointer;}
.price_cont .stn.faq .faqBox .faq_cont .faq_lst li dl dd {width:100%; height:0 !important; padding:0 30px; box-sizing:border-box; color:#777777; font-size:20px; letter-spacing:-0.2px; line-height:30px; text-align:left; word-break:keep-all; transform-origin:50% 0; transform:scaleY(0); transition:all 0.1s ease-out;}

.price_cont .stn.faq .faqBox .faq_cont .faq_lst li.open dl dt {background-image:url('../images/price/arw_top_g.svg');}
.price_cont .stn.faq .faqBox .faq_cont .faq_lst li.open dl dd {height:auto !important; padding:0 30px 26px; transform:scaleY(1);}

/* banner */
.price_cont .stn.banner {height:auto; padding:80px 0; background:#40bed3; text-align:center;}
.price_cont .stn.banner .stn_tit {color:#fff;}
.price_cont .stn.banner .stn_desc {margin:20px 0 48px; color:#fff;}
.price_cont .stn.banner .btn_link {display:inline-block; width:300px; border:1px solid #fff; border-radius:3px; box-sizing:border-box; color:#fff; font-size:20px; font-weight:700; letter-spacing:-0.2px; line-height:58px; text-align:center; transition:background-color 0.2s ease-out;}
.price_cont .stn.banner .btn_link:hover {background:#fff; color:#40bed3;}

/* swiper */
.price_cont .swiper-pagination {display:none;}


/* media query */
@media screen and (max-width:768px) {
    /* text-size-adjust */
    html, body {
        -webkit-text-size-adjust:none;  /* 크롬, 사파리, 오페라 신버전 */
        -ms-text-size-adjust:none;  /* IE */
        -moz-text-size-adjust:none;  /* 파이어폭스 */
        -o-text-size-adjust:none;  /* 오페라 구버전 */
    }

	/* 팝업 API */
	.price_detail .lyr_bg {display:block;}
	.price_detail .lyrBox {width:95%; height:auto; max-height:400px; margin:0; animation:none; position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
	.price_detail .lyrBox .lyr_mid {height:335px;}
	.price_detail .lyrBox .lyr_mid .tbl_view {position:relative; margin:40px 0 0 0;}
	.price_detail .lyrBox .lyr_mid .tbl_view tbody {border-top:1px solid #9da4b4; border-bottom:1px solid #cfd5eb;}
	.price_detail .lyrBox .lyr_mid .tbl_view:before {content:''; position:absolute; top:-26px; left:0; width:100%; margin:0 0 10px 0; font-size:14px; font-weight:500; letter-spacing:-0.44px;}
	.price_detail .lyrBox .lyr_mid .tbl_view:first-child:before {content:'음성'}
	.price_detail .lyrBox .lyr_mid .tbl_view:nth-child(2):before {content:'시각'}
	.price_detail .lyrBox .lyr_mid .tbl_view:nth-child(3):before {content:'언어'}
	.price_detail .lyrBox .lyr_mid .tbl_view:nth-child(4):before {content:'분석'}
	.price_detail .lyrBox .lyr_mid .tbl_view:nth-child(5):before {content:'챗봇'}
	.price_detail .lyrBox .lyr_mid .tbl_view:nth-child(6):before {content:'영어교육'}
	.price_detail .lyrBox .lyr_mid .tbl_view thead{display:none;}
	.price_detail .lyrBox .lyr_mid .tbl_view tbody th {display:none;}
	.price_detail .lyrBox .lyr_mid .tbl_view tbody tr th {display:none;}
	.price_detail .lyrBox .lyr_mid .tbl_view td {padding:0}
	.price_detail .lyrBox .lyr_mid .tbl_view tbody tr .col_1 {width:110px;}
	.price_detail .lyrBox .lyr_mid .tbl_view tbody tr .col_2 {width:80px;}


	/* -------------------- layout -------------------- */
	.price_cont .stn {padding:50px 0 !important;}
	.price_cont .stn .cont {width:100%;}


	/* -------------------- contents -------------------- */
	/* common */
	.price_cont .stn_tit {font-size:30px; letter-spacing:-0.3px; line-height:32px;}
	.price_cont .stn_desc {font-size:16px; letter-spacing:-0.16px; line-height:26px;}

	/* detail_desc */
	.detail_desc:before {left:-4px;}
	.detail_desc img {width:12px;}
	.detail_desc .descBox {width:100%; min-width:240px; max-width:300px;}

	/* price */
	.price_cont .stn.price {padding:0 0 50px !important;}
	.price_cont .stn.price .cont {padding:0;}
	.price_cont .stn.price .cont .topBox {padding:50px 20px 0; background:#fff;}
	.price_cont .stn.price .cont .stn_desc {margin:0; padding:24px 0 80px;}
	.price_cont .stn.price .cont .btmBox {padding:0 20px; box-sizing:border-box;}
	.price_cont .stn.price .desc_list {margin:30px 0 20px; box-sizing:border-box;}
	.price_cont .stn.price .desc_list li {padding-left:12px; font-size:12px; letter-spacing:-0.12px; line-height:19px;}
	.price_cont .stn.price .desc_list li + li {margin-top:12px;}

	.price_cont .maum_price_wrap {padding-top:50px;}
	.price_cont .maum_price_wrap > ul > li {height:auto !important; padding:40px 20px 30px;}
	.price_cont .maum_price_wrap > ul > li dl dt {padding-bottom:30px;}
	.price_cont .maum_price_wrap > ul > li dl dt span {padding:0 16px; font-size:24px; letter-spacing:-0.48px; line-height:40px;}
	.price_cont .maum_price_wrap > ul > li dl dd .contBox {padding:0;}
	.price_cont .maum_price_wrap > ul > li dl dd .contBox + .contBox {padding:30px 0 0;}
	.price_cont .maum_price_wrap > ul > li dl dd .contBox .price {margin:30px 0 12px;}
	.price_cont .maum_price_wrap > ul > li dl dd .contBox .price strong {font-size:24px; letter-spacing:-0.24px;}
	.price_cont .maum_price_wrap > ul > li.business dl dd .contBox .price strong span {font-size:20px;}
	.price_cont .maum_price_wrap > ul > li dl dd .contBox .price img:nth-child(3) {top:-40px; right:-38px; bottom:auto; width:40px;}
	.price_cont .maum_price_wrap > ul > li dl dd .contBox .desc {font-size:16px; letter-spacing:-0.16px; white-space:normal; word-break:keep-all;}
	.price_cont .maum_price_wrap > ul > li dl dd .contBox .btn_link {width:100%; margin:20px 0 30px;}
	.price_cont .maum_price_wrap > ul > li dl dd .contBox .tit {margin-bottom:6px; font-size:12px; letter-spacing:-0.12px;}
	.price_cont .maum_price_wrap > ul > li dl dd .contBox ul li {padding-left:6px; font-size:12px; letter-spacing:-0.12px; line-height:36px;}
	.price_cont .maum_price_wrap > ul > li dl dd .contBox ul li:before {top:18px; width:2px; height:2px;}
	.price_cont .maum_price_wrap > ul > li dl dd .contBox ul li + li {margin-top:0;}

	.price_cont .maum_price_wrap > ul > li.business dl dd .contBox .price {font-size:14px; letter-spacing:-0.14px;}
	.price_cont .maum_price_wrap > ul > li.enterprise dl dd .contBox ul li {line-height:14px;}
	.price_cont .maum_price_wrap > ul > li.enterprise dl dd .contBox ul li:before {top:7px;}
	.price_cont .maum_price_wrap > ul > li.enterprise dl dd .contBox .tit {margin-bottom:22px;}
	.price_cont .maum_price_wrap > ul > li.enterprise dl dd .contBox ul li p {font-size:12px; letter-spacing:-0.12px;}

	.price_cont .maum_price_wrap > ul > li dl dt .ft_point .ico-dot {margin-top: 15px;}
	.price_cont .maum_price_wrap > ul > li dl dd .contBox .price img:nth-child(1) {margin-bottom:7px}
	.price_cont .maum_price_wrap > ul > li dl dd .contBox .price img:nth-child(2) {margin-bottom:6px;}
	.price_cont .stn.price .desc_list li .ico-dot {margin-top:8px;}

	.price_cont .minutes_price_wrap {padding:20px;}
	.price_cont .minutes_price_wrap .tit {font-size:12px; letter-spacing:-0.12px; line-height:14px;}
	.price_cont .minutes_price_wrap ul {display:block; margin-top:12px;}
	.price_cont .minutes_price_wrap ul li {overflow:hidden;}
	.price_cont .minutes_price_wrap ul li + li {margin:30px 0 0;}
	.price_cont .minutes_price_wrap ul li .sub_tit {font-size:12px; letter-spacing:-0.12px; line-height:14px;}
	.price_cont .minutes_price_wrap ul li .sub_desc {margin:10px 0 0; font-size:11px; letter-spacing:-0.11px; line-height:17px;}
	.price_cont .minutes_price_wrap .btn_link {margin:20px 0 0; font-size:11px; letter-spacing:-0.11px; line-height:17px;}

	/* compare */
	.price_cont .stn.compare .cont {padding:0;}
	.price_cont .compareBox .rate_tit {display:none;}
	.price_cont .compareBox .rate_tit_mobile {display:block;}
	.price_cont .compareBox li {float:none; display:none;}
	.price_cont .compareBox li.active {display:block;}
	.price_cont .compareBox li .cont_dropdown {height:0; transform-origin:50% 0; transform:scaleY(0); transition:all 0.1s ease-out;}
	.price_cont .compareBox li .cont_tit.active + .cont_dropdown {height:auto; transform:scaleY(1);}
	.price_cont .compareBox li .cont_tit div:last-child {background:url('../images/price/arw_btm_g.svg') no-repeat 0 50%;}
	.price_cont .compareBox li .cont_tit.active div:last-child {background:url('../images/price/arw_top_g.svg') no-repeat 0 50%;}
	.price_cont .compareBox li + li {margin:0;}
	.price_cont .compareBox li .cont_tit div:first-child,
	.price_cont .compareBox li .cont_dropdown > div div:first-child,
	.price_cont .compareBox li .cont_dropdown .drop_tit div:first-child {display:flex; flex-wrap:wrap; align-content:center;}
	.price_cont .compareBox li .cont {transition:height 0.2s ease-out;}
	.price_cont .compareBox li .cont + .cont {border-bottom:1px solid #e0e0e0;}
	.price_cont .compareBox .cont_tit,
	.price_cont .compareBox .cont_dropdown > div {width:100%; border-top:1px solid #cad0d7;}
	.price_cont .compareBox .cont_tit div:first-child,
	.price_cont .compareBox .cont_dropdown > div div:first-child,
	.price_cont .compareBox .cont_dropdown .drop_tit div:first-child {width:calc(100% - 48px); padding-left:20px; background:#f4f6f8;}
	.price_cont .compareBox .rate_list > li > .cont:nth-child(2) .cont_dropdown .drop_tit:first-child > div:first-child {display:block !important;}
	.price_cont .compareBox .cont_tit div:first-child {font-size:16px;}
	.price_cont .compareBox .cont_dropdown > div div:first-child {font-size:14px;}
	.price_cont .compareBox .cont_tit div:last-child,
	.price_cont .compareBox .cont_dropdown > div div:last-child,
	.price_cont .compareBox .cont_dropdown .drop_tit div:last-child {width:48px; text-align:left;}
	.price_cont .compareBox .cont_tit div:first-child,
	.price_cont .compareBox .cont_tit div:last-child {height:60px; background-color:#fff;}
	.price_cont .compareBox .cont_tit div,
	.price_cont .compareBox .cont_dropdown > div > div {padding:12px 0;}
	.price_cont .compareBox .cont_tit div, .price_cont .compareBox .cont_dropdown > div > div {padding:0;}
	.price_cont .compareBox .cont_dropdown .drop_tit div:first-child {height:44px; background:#f8f8f8; font-size:12px;}
	.price_cont .compareBox .cont_dropdown .drop_tit div:last-child {width:70px; height:44px;}

	/* faq */
	.price_cont .stn.faq .faqBox .faq_type a {margin:0 15px; font-size:16px; letter-spacing:-0.16px; line-height:36px;}
	.price_cont .stn.faq .faqBox .faq_type a.active {border-bottom:3px solid #1faac1;}
	.price_cont .stn.faq .faqBox .faq_cont .faq_lst li dl dt {padding:20px 60px 20px 20px; background-position:top 50% right 20px; font-size:16px; letter-spacing:-0.16px; line-height:25px;}
	.price_cont .stn.faq .faqBox .faq_cont .faq_lst li dl dd {padding:0 20px; font-size:16px; letter-spacing:-0.16px; line-height:25px;}
	.price_cont .stn.faq .faqBox .faq_cont .faq_lst li.open dl dd {padding:0 20px 20px;}

	/* banner */
	.price_cont .stn.banner .stn_desc {margin:20px 0 40px;}
	.price_cont .stn.banner .btn_link {width:280px; font-size:16px; font-weight:700; letter-spacing:-0.16px; line-height:54px;}

	/* swiper */
	.swiper-pagination {top:30px !important; bottom:unset !important; display:block; margin:0;}
	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {background:#dedede !important; vertical-align:top; opacity:1;}
	.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active {width:24px; border-radius:4px; background:#1faac1 !important;}
}

@media screen and (max-width:420px) {
	.price_cont .maum_price_wrap > ul > li dl dd .contBox ul li:nth-child(1) .detail_desc .descBox {left:-178px;}
	.price_cont .maum_price_wrap > ul > li dl dd .contBox ul li:nth-child(2) .detail_desc .descBox {left:-200px;}
	.price_cont .maum_price_wrap > ul > li dl dd .contBox ul li:nth-child(3) .detail_desc .descBox {left:-129px;}
}


/* ---------------------------------------- login page content ---------------------------------------- */
/* common */
.login .content .errorImg {margin:30px 0 24px;}
.login .content p {margin:34px auto 30px; color:#002b49; font-size:20px; font-weight:300; font-stretch:normal; font-style:normal; line-height:normal; text-align:center; letter-spacing:-0.4px;}

/* Login */
.login .loginWrap {position:relative; padding:50px 0 0 0;}
.login .loginWrap fieldset {display:block; width:100%;}
.login .loginWrap .loginBox {width:400px; margin:0 auto 22px; padding:0 0 80px 0; border-bottom:1px dotted #b6c5d1;}
.login .loginWrap span.or {position:absolute; bottom:15px; left:50%; padding:0 15px; color:#34424e; font-size:12px; text-align:center; letter-spacing:-0.17px; word-break:keep-all; background:#f7f8fc; transform:translateX(-50%); z-index:100;}
.login .loginWrap .loginBox > span {display:block; position:relative;}
.login .loginWrap .loginBox > span .ipt_txt {display:block; width:100%; height:48px; margin:0 auto 15px; padding:16px 20px; line-height:48px; border:1px solid #cfd5eb; border-radius:3px; box-sizing:border-box; background:#fff; transition:all 0.3s ease-out;}
.login .loginWrap .loginBox > span .txt_error {display:none; margin:0 0 4px; color:#fe2d35; font-size:12px; text-align:left; letter-spacing:-0.22px;}
.login .loginWrap .loginBox > span a.homebtn{display:inline-block; width:100%; height:50px; margin:5px auto 18px; color:#fff; font-size:15px; font-weight:500; text-align:center; line-height:48px; letter-spacing:-0.21px; border-radius:2px; background-color:#14b6cb; }
.login .btn_box {width:400px; margin:0 auto;}
.login .btn_box:before {}
.login .btn_box a{display:block; width:100%; height:48px; margin:0 0 15px 0; color:#34424e; font-size:15px; font-weight:500; text-align:center; line-height:48px; letter-spacing:-0.21px; border:1px solid rgba(128,138,171,0.4); border-radius:2px; background-color:#fff;}
.login .btn_box a.google_login {background:#fff url("../images/common/logo_google.png") 18px 12px no-repeat; background-size:22px;}
.login .btn_box a.facebook_login {background:#fff url("../images/common/logo_facebook.png") 21px 12px no-repeat; background-size:15px;}
.login .btn {position:relative; width:400px; margin:0 auto;}
.login .btn a{color:#34424e; font-size:12px; text-align:center; letter-spacing:-0.22px; opacity:0.8;}
.login .btn span {color:rgba(52,66,78,0.3); font-size:12px;}
.join .checks {display:inline-block; padding:0 0 0 2px; text-align:left;}
.join .checks input[type="checkbox"] {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0; clip:rect(0,0,0,0); transition:all 0.3s ease-out;}
.join .checks input[type="checkbox"] + label {display:inline-block; position:relative; color:#363a44; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; opacity:0.8; transition:all 0.3s ease-out;}
.join .checks input[type="checkbox"] + label em {font-size:13px; transition:all 0.2s ease-out;}
.join .checks input[type="checkbox"]:checked + label {opacity:1;}
.join .checks input[type="checkbox"]:checked + label em {color:#14b6cb; transition:all 0.2s ease-out;}

/*툴팁*/
.login .tooltip {}
.login .tooltip .tooltip_box{position:absolute; top:32px; left:44px; width:230px; height:39px; margin-top:4px; color:#002b49; font-size:14px; font-weight:normal; line-height:40px; letter-spacing:-0.2px; border:1px solid #c7cbdc; border-radius:20px; background-color:#fff; animation:motion 0.5s linear 0s infinite alternate;}
.login .tooltip .tooltip_box:after,.tooltip .tooltip_box:before {content:''; position:absolute; bottom:100%; left:50%; width:0; height:0; border:solid transparent; pointer-events:none;}
.login .tooltip .tooltip_box:after {margin-left:-5px; border-width:5px; border-color:rgba(255,255,255,0); border-bottom-color:#fff;}
.login .tooltip .tooltip_box:before {margin-left:-6px; border-width:6px; border-color:rgba(135,194,245,0); border-bottom-color:#b5b8c3;}
.login .tooltip .tooltip_box img {margin:6px 0 0 0;}
.login .tooltip .tooltip_box span {color:#ff5418; font-size:14px; font-weight:500;}
@keyframes motion {
    0%   {margin-top:4px;}
    100% {margin-top:0;}
}

/*sign Up*/
.agreeWrap {padding:50px 0 0 0;}
.agreeBox{width:400px; margin:0 auto; text-align:left;}
.agreeBox .checks input[type="checkbox"] + label {color:#34424e; font-size:14px; letter-spacing:-0.2px;}
.agreeBox .checks input[type="checkbox"] + label em {float:left; margin:0 7px 0 0; font-size:20px; vertical-align:middle;}
.agreeBox span strong {color:#14b6cb; font-weight:400;}
.agreeBox .scroll_box {overflow:auto; width:100%; height:122px; margin:8px 0 30px 0; padding:10px; color:#2c3f51; font-size:12px; text-align:left; line-height:18px; white-space:pre-wrap; border-radius:3px; border:1px solid #cfd5eb; background-color:#fff; box-sizing:border-box;}
.agreeBox a {display:inline-block; width:195px; height:48px; margin:30px 0 0 0; color:#fff; font-size:15px; font-weight:500; text-align:center; line-height:48px; letter-spacing:-0.21px; border-radius:2px; background-color:#9faeba;}
.agreeBox a + a {background-color:#14b6cb; margin:30px 0 0 5px;}
.agreeBox a.link { width: auto; height:auto; margin:0 0 0 5px;; color:#3599ff; font-size:12px; text-align:left; line-height:16px; letter-spacing:0; background:#fff;}
.agreeBox a.link:hover {color:#3599ff; text-decoration:underline;}

.signUpWrap {padding:50px 0;}
.signUpBox {width:400px; margin:0 auto; text-align:left;}
.signUpBox .input_box .input_txt {margin:0 0 20px 0;}
.signUpBox .input_box .input_txt label {font-size:13px; font-weight:500; letter-spacing:-0.19px; color:#34424e;}
.signUpBox .input_box .input_txt input {width:100%; height:48px; margin:5px 0 0 0; padding:10px; border-radius:3px; box-sizing:border-box; border:1px solid #cfd5eb; background-color:#fff;}
.signUpBox .input_box .input_txt input.error {border:1px solid #14b6cb;}
.signUpBox .input_box .input_txt span {display:none; padding:5px 0 0 0; color:#34424e; font-size:12px; letter-spacing:-0.22px; opacity:0.8;}
.signUpBox .input_box .input_txt span.noti{display:block;}
.signUpBox .input_box .input_txt span.email{display:none; color:#14b6cb; font-size:12px; letter-spacing:-0.22px; opacity:0.8;}
.signUpBox .input_box .input_txt span.error {color:#fe2d35;}
.signUpBox .input_box .input_txt div {position:relative;}
.signUpBox .input_box .input_txt div button {position:absolute; top:29px; right:0; width:113px; height:48px; color:#fff; font-size:15px; text-align:center; line-height:48px; letter-spacing:-0.21px; border-radius:0 3px 3px 0; background-color:#14b6cb; box-sizing:border-box;}
.signUpBox .input_box .input_txt div.code_box {display:none; margin:9px 0 0 0;}
.signUpBox .input_box .input_txt div.code_box::placeholder {color:#2c3f51; opacity:0.6;}
.signUpBox .input_box .input_txt div.code_box .count {position:absolute; top:20px; right:122px; color:#ff1d49; font-size:14px; font-weight:500; opacity:0.6;}
.signUpBox .input_box .input_txt div.code_box button {top:6px;}
.signUpBox .select_form > span {display:block; margin:0 0 16px 0; color:#34424e; font-size:13px; font-weight:500; letter-spacing:-0.19px;}
.signUpBox .checks {}
.signUpBox .checks input[type="checkbox"] + label {font-size:14px;}
.signUpBox .checks input[type="checkbox"] + label em {float:left; margin:0 7px 0 0; font-size:20px; vertical-align:middle;}
.signUpBox .checks:first-child {min-width:120px;}
.signUpBox .checks:nth-child(2) {min-width:150px;}
.signUpBox a {display:block; height:48px; margin:40px 0 0; color:#fff; font-size:15px; font-weight:500; text-align:center; line-height:48px; letter-spacing:-0.21px; border-radius:2px; background-color:#14b6cb;}

@media screen and (max-width:768px) {
    .login .btn {width:100%;}
    .login .btn_box {width:90%;}
    .login .loginWrap {padding:50px 15px 0;}
    .login .loginWrap .loginBox {width:100%;}
    .login .tooltip .tooltip_box {top:24px;}
    .login .tooltip .tooltip_box:before {display:none;}
    .login .tooltip .tooltip_box:after {display:none;}
    .join .agreeBox{width:100%; padding:0 15px 30px; box-sizing:border-box;}
    .join .checks {padding:0 0 5px 2px;}
    .join .agreeBox a {width:calc(50% - 5px);}
    .join .agreeBox a + a {width:calc(50% - 5px);}
}
